openapi: 3.2.0
info:
  title: setlist.fm REST Countries API
  description: The setlist.fm REST API provides read-only access to the world's largest crowd-sourced concert setlist database.
  version: '1.0'
  contact:
    name: setlist.fm
    url: https://api.setlist.fm/docs/1.0/index.html
  termsOfService: https://www.setlist.fm/help/terms
servers:
- url: https://api.setlist.fm/rest/1.0
  description: setlist.fm REST API v1.0
security:
- apiKeyAuth: []
tags:
- name: Countries
  description: The reference list of countries.
paths:
  /search/countries:
    get:
      operationId: searchCountries
      tags:
      - Countries
      summary: Get all countries
      description: Returns the complete list of countries known to setlist.fm.
      responses:
        '200':
          description: The list of countries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Countries'
components:
  schemas:
    Country:
      type: object
      properties:
        code:
          type: string
          description: The ISO code of the country.
        name:
          type: string
    Countries:
      type: object
      properties:
        country:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        total:
          type: integer
        page:
          type: integer
        itemsPerPage:
          type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued from https://www.setlist.fm/settings/api. Passed in the `x-api-key` request header on every call.
