openapi: 3.2.0
info:
  title: setlist.fm REST Venues API
  description: The setlist.fm REST API provides read-only access to the world's largest crowd-sourced concert setlist database.
  version: '1.0'
  contact:
    name: setlist.fm
    url: https://api.setlist.fm/docs/1.0/index.html
  termsOfService: https://www.setlist.fm/help/terms
servers:
- url: https://api.setlist.fm/rest/1.0
  description: setlist.fm REST API v1.0
security:
- apiKeyAuth: []
tags:
- name: Venues
  description: Concert venues and the setlists performed at them.
paths:
  /venue/{venueId}:
    get:
      operationId: getVenue
      tags:
      - Venues
      summary: Get a venue
      description: Returns a venue for a given venue ID.
      parameters:
      - $ref: '#/components/parameters/VenueId'
      responses:
        '200':
          description: The requested venue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Venue'
        '404':
          $ref: '#/components/responses/NotFound'
  /venue/{venueId}/setlists:
    get:
      operationId: getVenueSetlists
      tags:
      - Venues
      summary: Get a venue's setlists
      description: Returns a paginated list of the setlists performed at a given venue.
      parameters:
      - $ref: '#/components/parameters/VenueId'
      - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: A paginated list of setlists for the venue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setlists'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    PageParam:
      name: p
      in: query
      required: false
      description: The number of the result page to return.
      schema:
        type: integer
        default: 1
    VenueId:
      name: venueId
      in: path
      required: true
      description: The venue ID.
      schema:
        type: string
  schemas:
    Song:
      type: object
      properties:
        name:
          type: string
        info:
          type: string
        cover:
          $ref: '#/components/schemas/Artist'
        tape:
          type: boolean
    Artist:
      type: object
      properties:
        mbid:
          type: string
          description: Unique MusicBrainz Identifier of the artist.
        name:
          type: string
        sortName:
          type: string
        disambiguation:
          type: string
        url:
          type: string
          format: uri
          description: The setlist.fm page of the artist.
    Country:
      type: object
      properties:
        code:
          type: string
          description: The ISO code of the country.
        name:
          type: string
    Sets:
      type: object
      properties:
        set:
          type: array
          items:
            $ref: '#/components/schemas/Set'
    Tour:
      type: object
      properties:
        name:
          type: string
    Setlists:
      type: object
      properties:
        setlist:
          type: array
          items:
            $ref: '#/components/schemas/Setlist'
        total:
          type: integer
        page:
          type: integer
        itemsPerPage:
          type: integer
    City:
      type: object
      properties:
        id:
          type: string
          description: The GeoNames geoId.
        name:
          type: string
        stateCode:
          type: string
        state:
          type: string
        coords:
          $ref: '#/components/schemas/Coords'
        country:
          $ref: '#/components/schemas/Country'
    Coords:
      type: object
      properties:
        lat:
          type: number
          format: double
        long:
          type: number
          format: double
    Venue:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
        city:
          $ref: '#/components/schemas/City'
    Error:
      type: object
      properties:
        code:
          type: integer
        status:
          type: string
        message:
          type: string
        timestamp:
          type: string
    Set:
      type: object
      properties:
        name:
          type: string
        encore:
          type: integer
        song:
          type: array
          items:
            $ref: '#/components/schemas/Song'
    Setlist:
      type: object
      properties:
        id:
          type: string
        versionId:
          type: string
        eventDate:
          type: string
          description: The date of the concert (format dd-MM-yyyy).
        lastUpdated:
          type: string
          format: date-time
        artist:
          $ref: '#/components/schemas/Artist'
        venue:
          $ref: '#/components/schemas/Venue'
        tour:
          $ref: '#/components/schemas/Tour'
        sets:
          $ref: '#/components/schemas/Sets'
        info:
          type: string
        url:
          type: string
          format: uri
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued from https://www.setlist.fm/settings/api. Passed in the `x-api-key` request header on every call.
